<bgp>
  <as-no>{{ local_as }}</as-no>
  <bgp>
    <router-id>{{ router_id }}</router-id>
  </bgp>

  {% for neighbor in neighbors %}
  <neighbor>
    <id>{{ neighbor.neighbor_ip }}</id>
    <remote-as>{{ neighbor.remote_as }}</remote-as>

    {% if neighbor.description %}
    <description>{{ neighbor.description }}</description>
    {% endif %}

    {% if neighbor.password %}
    <password>
      <text>{{ neighbor.password }}</text>
    </password>
    {% endif %}

    {% if neighbor.update_source %}
    <update-source>
      <Loopback>{{ neighbor.update_source.replace('Loopback', '').replace('loopback', '') }}</Loopback>
    </update-source>
    {% endif %}

  </neighbor>
  {% endfor %}
  <address-family>
    <ipv4>
      <af>unicast</af>
      {% for neighbor in neighbors %}
      <neighbor>
        <id>{{ neighbor.neighbor_ip }}</id>
        <activate/>
      </neighbor>
      {% endfor %}
    </ipv4>
  </address-family>
</bgp>